<div class="container">

    <div class="about-main">
        <img src="../../../assets/run.svg" alt="Ilustração">

        <p>
            O projeto EasyShoes é um exercico dos princípios do framework <br>
            angular, desenvolvido com o objetivo de ser usado como portfolio <br>
            para atestar meus conhecimentos na ferramenta. Esse projeto exigiu <br>
            conhecimentos basicos dos conceitos primordiais do angular como a<br>
            criação e manipulação de componentes, services, uso de diretivas e <br>
            routing, além da estilização da interface utilizando a biblioteca bootstrap.
            <br>
            <br>

            Crédito: A foto de capa da plataforma é do artista <br>
            <a href="https://unsplash.com/pt-br/@malikskyds?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Malik Skydsgaard</a>
            na <a href="https://unsplash.com/pt-br/fotografias/_A7WLos9RfU?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            <br>
            <br>
            Copyrigth 2023 | Angelo Lucas - Todos os direitos reservados.
        </p>
    </div>
    
</div>
